.cardContainer {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 80%;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
}
.leftPart {
    width: 30%;
    height: 100%;
    background-image: url('../../../assets/png/bg.png') ;
    background-position: center;
    background-size: cover;
}
.rightPart {
    width: 70%;
    height: 100%;
}